<p id="notice"><%= notice %></p>

<section class="brandsShow">
  <div class="logoname">
    <p class="name">
      <!-- <strong>Name:</strong> -->
      <%= @brand.name %>
    </p>

    <div class="logo">
      <%= image_tag @brand.logo %>
    </div>
  </div>

  <div class="edit">
    <%= link_to 'Edit', edit_brand_path(@brand) %>
    <%= link_to 'Back', brands_path %>
  </div>

  <%#= render 'sneakers/index' %>
  <section class="sneakersInBrand">
    <% @sneakers.each do |sneaker| %>
      <%= render 'sneakers/show', sneaker: sneaker %>
    <% end %>
  </section>

  <buttons class="newSneakerInBrand">
    <%= link_to 'New Sneaker', new_sneaker_path %>
  </buttons>
</section>
