<p id="notice"><%= notice %></p>

<section class="sneakerShow">
  <div class="model">
    <h2>
      <%= @sneaker.model %>
    </h2>

    <div class="image">
      <%= image_tag @sneaker.image %>
    </div>
  </div>

  <ul>
    <li><%= @sneaker.sex %></li>
    <li><%= @sneaker.price %> rur.</li>
    <li>
      <buttons>
        <%= link_to 'Edit', edit_sneaker_path(@sneaker) %>
        <%= link_to 'Destroy', @sneaker, method: :delete, data: { confirm: 'HELL NOOOOOOOOOOOOOO' } %>
      </buttons>
    </li>
  </ul>

  <div class="button">
    <%= link_to 'Back', sneakers_path %>
  </div>
</section>
